{% extends 'base.html.twig' %}

{% block body %}
    <p> 在 {{ when|date("g:i a") }}，這裡是可提供的：</p>
    <ul>
        {% for item in what %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% endblock %}
